body {
	font-family: Source Sans Pro;
	border: 20px solid lightgray;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}

.post {
	margin-bottom: 20px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.2rem;
	font-size: 11px;
}

h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

.intro {
	border-left: 5px solid lightgray;
	padding-left: 5px;
}

hr {
	border-top: 1px solid lightgray;
}