body {
	font-family: Lora;
	width: 370px;
    margin: 30px auto;
    border: 5px double gray;
    padding: 0px 25px;

}

.title {
	text-align: center;
	font-family: Raleway;
	padding-top: 5px;


}
.category1 {
	font-size: 1.2em;
	padding-top: 10px;

}

li {
	line-height: 1.4em;
}